$text: #626166;
$forms: #f9f9f9;
$darkBlue: #28324e;
$greyBlue: #738195;
$lightGrey: #e6e6e5;
$grey: #c2c5d0;
$darkGrey: #626166;
$lightBlue: #d1d9e5;
$blue: #a3b2c7;
$lightRed: #df2a28;
$red: #b8312e;

$fontUbuntu: 'Ubuntu', sans-serif;

$baseTransition: 0.3s ease;
