@font-face {
  font-family: "HelveticaNeueCyr";
  src:  url("../fonts/HelveticaNeueCyr-Roman.eot") format("eot"),
        url("../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf"),
        url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 500;
  font-style: 'normal';
 }
