@import '../_vars', '../_mixins';

.cookie-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 960px;
  z-index: 10;
  background: $greyBlue;
  animation: cookieNotification 2s normal forwards ease-out;

  &__content {
    @include flexBox(space-around, justify);
    color: #fff;
    font-size: 16px;
  }

  a {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
  }

  p:first-child { margin-bottom: 20px; }

  &__text {
    margin: 12px 0 30px;
    width: 82%;
  }
}

@keyframes cookieNotification {
  0% { bottom: -240px; }

  100% { bottom: 0; }
}
